.detail {
  background-color: #fff;
  display: flex;
  padding: 15px 15px;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
}

.leftImg {
  width: 100%;
  height: 100%;
}

.leftCenter {
  display: flex;
}

.leftBottom {
  display: flex;
}

.bottomImg {
  width: 100%;
  height: 100%;
}

.center {
  line-height: 1.5;
}

.row {
  display: flex;
}

.rowColumn {
  margin-right: 10px;
}

.right {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.rightImg {
  width: 20px;
  height: 20px;
}
